@import url("https://fonts.googleapis.com/css2?family=Lemonada:wght@400;500;600;700&display=swap");

@font-face {
    font-family: "Bulletto Killa";
    src: url("/fonts/BullettoKilla.woff2") format("woff2"),
        url("/fonts/BullettoKilla.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Streetwear";
    src: url("./assets/Streetwear.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "American Captain";
    src: url("./assets/americancaptain/AmericanCaptain.otf") format("opentype"),
        url("./assets/americancaptain/AmericanCaptain.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Lemonada";
    src: url("./assets/fonts/Lemonada-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

#root {
    /* max-width: 1280px; */
    /* margin: 0 auto; */
    /* display: flex-column; */
    /* padding: 2rem; */
    text-align: center;
}

.logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
}
.logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
}
.text-stroke-effect {
    color: transparent; /* Makes the text color transparent */
    -webkit-text-stroke: 2px black; /* Adjust the stroke width */
    text-shadow: 1px 1px 2px black, -1px -1px 2px black, 1px -1px 2px black,
        -1px 1px 2px black;
    color: #000; /* Main text color */
}

.text-stroke-effect::after {
    content: attr(data-text); /* Copies the main text */
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1; /* Places the pseudo-element behind the main text */
    color: #29d7e2; /* Stroke color */
    -webkit-text-stroke: 2px #29d7e2; /* Stroke width and color */
    filter: blur(2px); /* Adds a rounded blur for smooth effect */
    opacity: 0.7; /* Slightly transparent for a softer stroke */
}

.sun-ray {
    background: linear-gradient(80deg, transparent 50%, #ddd 50%, #ddd),
        linear-gradient(90deg, transparent 50%, #ddd 50%, #ddd),
        linear-gradient(82deg, transparent 50%, #eee 50%, #eee),
        linear-gradient(67deg, transparent 50%, #ddd 50%, #ddd),
        linear-gradient(52deg, transparent 50%, #eee 50%, #eee),
        linear-gradient(37deg, transparent 50%, #ddd 50%, #ddd),
        linear-gradient(22deg, transparent 50%, #eee 50%, #eee),
        linear-gradient(7deg, transparent 50%, #ddd 50%, #ddd),
        linear-gradient(-8deg, transparent 50%, #eee 50%, #eee),
        linear-gradient(-23deg, transparent 50%, #ddd 50%, #ddd),
        linear-gradient(-38deg, transparent 50%, #eee 50%, #eee),
        linear-gradient(-53deg, transparent 50%, #ddd 50%, #ddd),
        linear-gradient(-68deg, transparent 50%, #eee 50%, #eee),
        linear-gradient(-83deg, transparent 50%, #ddd 50%, #ddd);
    background-position: center 100%;
    background-color: #eee;
    background-size: 100% 200%;
    min-height: 100%;
}
.custom-dashed-border {
    border-width: 4px;
    border-style: dashed;
    border-color: transparent;
    border-image: repeating-linear-gradient(
            90deg,
            blue 0,
            blue 10px,
            transparent 10px,
            transparent 20px
        )
        1;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
        animation: logo-spin infinite 20s linear;
    }
}

.card {
    padding: 2em;
}

.read-the-docs {
    color: #888;
}
